:root {
  --body-bg: currentcolor;
  --Navigation-bg: transparent;
  --white-color: white;
  --white-color-hover: rgba(255, 255, 255, 0.482);
  --main-color: #22c3e6;
  --main-color-hover: #22c2e678;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-navber,
.closes {
  display: none;
}
.header-pos {
  background-color: var(--Navigation-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 2rem;
  list-style: none;
  box-shadow: 0px 0 12px 0px var(--white-color);
}

body {
  /* min-width: 100%; */
  background-color: var(--body-bg);
  transition: 0.5s;
}

section {
  min-height: 100vh;
  min-width: 100%;
  color: var(--white-color);
}

.image-Log a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
}
.image-Log a p {
  display: flex;
  gap: 0 0.3rem;
}
.image-Log a:hover {
  color: var(--white-color-hover);
}

.header-pos nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 3rem;
}
.header-pos nav ul li {
  list-style: none;
}
.header-pos nav ul li a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1rem;
  display: flex;
  gap: 0 0.3rem;
}
.header-pos nav ul li a:hover {
  color: var(--white-color-hover);
}

.icon {
  width: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.title-name {
  color: var(--main-color);
}

/* Home Page  */
#Home {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2rem;
}

#Home .container-Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45rem;
}
#Home .container-Home .heading-container {
  width: 48rem;
  text-align: -webkit-center;
}
#Home .container-Home .profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Home .container-Home .profile-container .Profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 3rem;
}
#Home .container-Home .profile-container .Profile .Profile-myBio {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#Home .container-Home .profile-container .Profile .Profile-myBio h1 {
  color: var(--main-color);
  text-decoration: underline var(--white-color);
}
#Home .container-Home .profile-container .Profile .Profile-myBio p {
  width: 25rem;
}
#Home .container-Home .profile-container .Profile .Profile-myBio button {
  padding: 0.4rem;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 0.4rem;
  color: var(--white-color);
}
#Home .container-Home .profile-container .Profile .Profile-myBio button:hover {
  border: 2px solid var(--main-color-hover);
  color: var(--white-color-hover);
}
#Home .container-Home .connect-container {
  text-align: center;
  width: 9rem;
}

#Home .container-Home .connect-container .connect-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.Avatar-shailesh {
  width: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--main-color);
}

/* do container */

.container-Home .do-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  width: 64rem;
}

.container-Home .do-container .i_do_container {
  width: 20rem;
}
.container-Home .do-container .i_do_container h1 {
  color: var(--main-color);
}
.container-Home .do-container .i_do_container p {
  width: 25rem;
  margin-top: 1rem;
}
.container-Home .do-container .working_tech {
  width: 58rem;
}

.container-Home .do-container .working_tech .techBase {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 13px 0;
  gap: 2.5rem;
  overflow-x: clip;
  overflow-y: hidden;
  width: 45rem;
}
.container-Home .do-container .working_tech .box-tech {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 1.5rem;
  height: 15rem;
}
.container-Home .do-container .working_tech .box-tech .image-project {
  position: absolute;
  top: -2rem;
  border: 2px solid var(--main-color);
  background-color: black;
  padding: 0.4rem;
  border-radius: 2rem;
  width: 3rem;
}
.container-Home .do-container .working_tech .box-tech .box-text-tech {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Skills Me  */

#Skills {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2rem;
  gap: 3rem;
}
#Skills .title-h1 {
  text-align: center;
  text-decoration: underline var(--main-color);
}
#Skills .title-h1:hover {
}
/* #About .About-container {
  text-align: center;
} */
#Skills .Skills-container .Skills-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 63rem;
  text-align: -webkit-center;
}

#Skills .Skills-container .Skills-language .box-language {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 2.5rem;
}
#Skills .Skills-container .Skills-language {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 60rem;
  gap: 5rem;
}
#Skills .Skills-container .Skills-language .box-language {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 2.5rem 0;
}
#Skills .Skills-container .Skills-language .box-language .image-project {
  position: absolute;
  top: -2rem;
  border: 2px solid var(--main-color);
  background-color: black;
  padding: 0.4rem;
  border-radius: 2rem;
  width: 3rem;
}
#Skills .Skills-container .Skills-language .box-language .box-text-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
#Skills .Skills-container .Skills-language .box-language .box-text-tech h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
  text-decoration: underline var(--main-color);
}

#Skills .Skills-container .Skills-language .box-language .box-text-tech p {
  padding: 0 0.9rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--white-color);
}
/* Project  */

#Project {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2rem;
  gap: 3rem;
}
#Project .title-h1 {
  text-align: center;
  text-decoration: underline var(--main-color);
}

#Project .Project-container .Project-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 63rem;
  text-align: -webkit-center;
}
#Project .Project-container .Project-language .box-language {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 2.5rem;
}
#Project .Project-container .Project-language {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 60rem;
  gap: 5rem;
}
#Project .Project-container .Project-language .box-language {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 2.5rem 0;
}
#Project .Project-container .Project-language .box-language .image-project {
  position: absolute;
  top: -2rem;
  border: 2px solid var(--main-color);
  background-color: black;
  padding: 0.4rem;
  border-radius: 2rem;
  width: 3rem;
}
#Project .Project-container .Project-language .box-language .box-text-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
#Project .Project-container .Project-language .box-language .box-text-tech h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
  text-decoration: underline var(--main-color);
}

#Project .Project-container .Project-language .box-language .box-text-tech p {
  padding: 0 0.9rem;
  text-align: justify;
}
#Project .Project-container .Project-language .box-language .box-text-tech img {
  width: 18rem;
  height: 10rem;
  object-fit: cover;
}
/* Blog  */
#Blog {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2rem;
  gap: 3rem;
}
#Blog .title-h1 {
  text-align: center;
  text-decoration: underline var(--main-color);
}

#Blog .Blog-container .Blog-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 63rem;
  text-align: -webkit-center;
}
#Blog .Blog-container .Blog-language .box-language {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 2.5rem;
}
#Blog .Blog-container .Blog-language {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 60rem;
  gap: 5rem;
}
#Blog .Blog-container .Blog-language .box-language {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 2.5rem 0;
}
#Blog .Blog-container .Blog-language .box-language .image-project {
  position: absolute;
  top: -2rem;
  border: 2px solid var(--main-color);
  background-color: black;
  padding: 0.4rem;
  border-radius: 2rem;
  width: 3rem;
}
#Blog .Blog-container .Blog-language .box-language .box-text-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
#Blog .Blog-container .Blog-language .box-language .box-text-tech h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
  text-decoration: underline var(--main-color);
}

#Blog .Blog-container .Blog-language .box-language .box-text-tech p {
  padding: 0 0.9rem;
  text-align: justify;
  height: 2rem;
}
#Blog .Blog-container .Blog-language .box-language .box-text-tech img {
  width: 18rem;
  height: 10rem;
  object-fit: cover;
}
/* Contact  */
#Contact {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 1.3rem;
  gap: 4rem;
  margin-top: 2rem;
}
#Contact .title-h1 {
  text-align: center;
  text-decoration: underline var(--main-color);
}

#Contact .Contact-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
#Contact .Contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
#Contact .Contact-container form .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#Contact .Contact-container form .FormInput {
  display: flex;
  gap: 0.4rem;
}
#Contact .Contact-container form .FormInput {
  flex-direction: column;
  width: 30rem;
}
#Contact .Contact-container form .none {
  display: none;
}
#Contact .Contact-container form .FormInput label {
  display: flex;
  font-size: 1.3rem;
}
#Contact .Contact-container form .FormInput input {
  padding: 0.3rem;
  border-radius: 7px;
  outline-style: none;
}
#Contact .Contact-container form .FormInput textarea {
  padding: 0.3rem;
  border-radius: 7px;
  outline-style: none;
}

.error {
  color: red;
}

#Contact .Contact-container form button {
  padding: 7px 23px;
  border: 2px solid var(--main-color);
  border-radius: 9px;
  background-color: transparent;
  color: var(--white-color);
}
#Contact .Contact-container form button:hover {
  border: 2px solid var(--main-color-hover);
  color: var(--white-color-hover);
}

/* Success */

.Success-main {
  display: none;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  border: 2px solid var(--main-color);
  position: relative;
  padding: 2.5rem 0;
}
.Success-main .para .Success {
  color: var(--main-color);
}
.Success-main .para .Success:hover {
  color: var(--main-color-hover);
}
.success-none {
  display: none;
}

/* footer Page  */
footer {
  margin-top: 2rem;
  color: var(--white-color);
  text-align: center;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0 12px 0px var(--white-color);
}

/* Main Classes */

.icon-skill {
  width: 3rem;
}

.hrLine {
  width: 100%;
  margin: 12px 0;
  color: var(--main-color);
}

.capitalize {
  color: var(--white-color);
  text-transform: capitalize;
}
.soon {
  color: var(--main-color);
  text-transform: capitalize;
}

.active {
  position: relative;
  height: 26rem;
  list-style: none;
  flex-direction: column;
  transition: 0.2s;
  top: 0;
}

.active-ul {
  display: block;
}

.Closes {
  position: relative;
  height: 0;
  list-style: none;
  flex-direction: column;
  transition: 0.2s;
  top: -430px;
}

.Closes-ul {
  display: none;
}

/* media screen */

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .image-navber,
  .closes {
    display: block;
  }
  .header-pos {
    width: 100%;
    height: 4rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -411px;
  }

  header {
    height: 25px;
    transition: 0.5s;
  }
  .image-navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .header-pos .pos {
    background-color: var(--Navigation-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    list-style: none;
    box-shadow: 0px 0 12px 0px var(--white-color);
    flex-direction: column;
    position: relative;
    top: -390px;
  }

  .header-pos .image-Log {
    margin: 1rem 0;
  }
  .header-pos nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
  }
  .header-pos nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
  }

  #Home {
    margin-top: 3rem;
    transition: 0.5s;
  }
  #Home .nav2 {
    display: none;
  }
  #Home .container-Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    gap: 2rem;
  }

  #Home .container-Home .heading-container {
    width: 80%;
    text-align: -webkit-center;
  }

  #Home .container-Home .profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #Home .container-Home .profile-container .Profile {
    display: flex;
    align-items: center;
    gap: 0 3rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #Home .container-Home .profile-container .Profile .Profile-myBio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0;
  }

  #Home .container-Home .profile-container .Profile .Profile-myBio p {
    width: 65%;
  }
  .container-Home .do-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-Home .do-container .i_do_container {
    width: 72%;
  }

  .container-Home .do-container .i_do_container p {
    width: 100%;
    margin-top: 1rem;
  }
  .container-Home .do-container .working_tech .techBase {
    grid-template-columns: repeat(1, 1fr);

    width: auto;
  }

  .container-Home .do-container .working_tech {
    width: auto;
  }

  /*Skills  */
  #Skills .Skills-container .Skills-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    width: auto;
    gap: 5rem;
    justify-items: center;
  }
  #Skills .Skills-container .Skills-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Skills .Skills-container .Skills-container-text p {
    width: 80%;
  }

  /* Project */
  #Project .Project-container .Project-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Project .Project-container .Project-container-text p {
    width: 80%;
  }
  #Project .Project-container .Project-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    width: auto;
    gap: 5rem;
    justify-items: center;
  }

  /* Blog */
  #Blog .Blog-container .Blog-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Blog .Blog-container .Blog-container-text p {
    width: 80%;
  }

  #Blog .Blog-container .Blog-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    width: auto;
    gap: 5rem;
    justify-items: center;
  }
  /* Contact */
  #Contact .Contact-container form .FormInput {
    width: 100%;
  }
  #Contact .Contact-container .Contact-container-text h1 {
    font-size: 1.5rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 575.98px) {
  .image-navber,
  .closes {
    display: block;
  }
  .header-pos {
    width: 100%;
    height: 4rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -411px;
  }

  header {
    height: 25px;
  }
  .image-navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .header-pos .pos {
    background-color: var(--Navigation-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    list-style: none;
    box-shadow: 0px 0 12px 0px var(--white-color);
    flex-direction: column;
    position: relative;
    top: -390px;
  }

  .header-pos .image-Log {
    margin: 1rem 0;
  }
  .header-pos nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
  }
  .header-pos nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
  }

  #Home {
    margin-top: 3rem;
    transition: 0.5s;
  }
  #Home .nav2 {
    display: none;
  }
  #Home .container-Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    gap: 2rem;
  }

  #Home .container-Home .heading-container {
    width: 50%;
    text-align: -webkit-center;
  }

  #Home .container-Home .profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #Home .container-Home .profile-container .Profile {
    display: flex;
    align-items: center;
    gap: 0 3rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #Home .container-Home .profile-container .Profile .Profile-myBio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0;
  }
  .container-Home .do-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-Home .do-container .i_do_container {
    width: auto;
  }
  .container-Home .do-container .working_tech .techBase {
    grid-template-columns: repeat(2, 1fr);

    width: auto;
  }

  .container-Home .do-container .working_tech {
    width: auto;
  }

  /*Skills  */
  #Skills .Skills-container .Skills-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: auto;
    gap: 1rem;
    justify-items: center;
  }
  #Skills .Skills-container .Skills-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Skills .Skills-container .Skills-container-text p {
    width: 80%;
  }

  /* Project */
  #Project .Project-container .Project-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Project .Project-container .Project-container-text p {
    width: 80%;
  }
  #Project .Project-container .Project-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: auto;
    gap: 3rem 0;
    justify-items: center;
  }

  /* Blog */
  #Blog .Blog-container .Blog-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Blog .Blog-container .Blog-container-text p {
    width: 80%;
  }

  #Blog .Blog-container .Blog-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: auto;
    gap: 3rem 0;
    justify-items: center;
  }
  /* Contact */
  #Contact .Contact-container form .FormInput {
    width: 30rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) {
  .container-Home .do-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    flex-direction: column;
  }

  .container-Home .do-container .working_tech .techBase {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: -25px 0;
    gap: 2.5rem;
    overflow-x: clip;
    overflow-y: hidden;
    width: 100%;
    justify-items: center;
  }

  #Skills .Skills-container .Skills-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 60rem;
    gap: 5rem;
    justify-items: center;
  }

  #Skills .Skills-container .Skills-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Skills .Skills-container .Skills-container-text p {
    width: 80%;
  }
  #Project .Project-container .Project-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 60rem;
    gap: 5rem;
    justify-items: center;
  }
  #Project .Project-container .Project-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Project .Project-container .Project-container-text p {
    width: 80%;
  }
  #Blog .Blog-container .Blog-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 60rem;
    gap: 5rem;
    justify-items: center;
  }

  #Blog .Blog-container .Blog-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Blog .Blog-container .Blog-container-text p {
    width: 80%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px) {
  .container-Home .do-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    flex-direction: column;
  }

  .container-Home .do-container .working_tech .techBase {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: -25px 0;
    gap: 2.5rem;
    overflow-x: clip;
    overflow-y: hidden;
    width: 100%;
    justify-items: center;
  }

  #Skills .Skills-container .Skills-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100%;
    gap: 5rem;
    justify-items: center;
  }

  #Skills .Skills-container .Skills-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Skills .Skills-container .Skills-container-text p {
    width: 80%;
  }
  #Project .Project-container .Project-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100%;
    gap: 5rem;
    justify-items: center;
  }
  #Project .Project-container .Project-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Project .Project-container .Project-container-text p {
    width: 80%;
  }
  #Blog .Blog-container .Blog-language {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100%;
    gap: 5rem;
    justify-items: center;
  }

  #Blog .Blog-container .Blog-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: -webkit-center;
  }
  #Blog .Blog-container .Blog-container-text p {
    width: 80%;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) and (min-width: 1199.98px) {
}

/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */
